# Flask Server Configuration
FLASK_HOST=127.0.0.1
FLASK_PORT=5001
FLASK_DEBUG=True

# Database Configuration
DB_NAME=ml_inference
DB_USER=<your_username>
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Application Configuration
UPLOAD_FOLDER=./uploads

# API Testing Configuration
API_BASE_URL=http://localhost:5001

